<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员总体情况分析</title>
	<link rel="stylesheet" href="../../../static/04style/icon/iconfont.css">
	<script src="../../../static/04style/js/jquery.min.js"></script>
	<script src="../../../static/04style/js/echarts.min.js"></script>

</head>
<body>
<div class="container-header">
    <ul class="nowTime">
        <li></li>
        <li></li>
    </ul>
    <div class="location">
        <i class="icon iconfont icon-buoumaotubiao23"></i>
        <span class="areaName"></span>
    </div>
    <h3>客户总体情况分析</h3>
</div>
<div class="container-content">
    <div class="top">
		<div class="count-base" >
			<div class="com-count-title">会员年龄段</div>
			<div class="com-screen-content">

				<div id="main1" style="width:100%;height:300px;"></div>
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="count-resource q1">
			<div class="com-count-title">会员出生年代</div>
			<div class="com-screen-content2">
{#				<ul class="use-data">#}
{#					<li>#}
{#						<p class="data-count">15681 </p>#}
{#						<span class="data-name">数据总量</span>#}
{#					</li>#}
{#					<li>#}
{#						<p class="data-count"> 1731</p>#}
{#						<span class="data-name">更新量</span>#}
{#					</li>#}
{#					<li>#}
{#						<p class="data-count">11753</p>#}
{#						<span class="data-name">共享次数</span>#}
{#					</li>#}
{#				</ul>#}
				<div class="com-screen-content">
				 <div id="main2" style="margin-top:10px;width:100%;height:240px;"></div>
				</div>
				<span class="left-top"></span>
				<span class="right-top"></span>
				<span class="left-bottom"></span>
				<span class="right-bottom"></span>
			</div>
		</div>
		<div class="count-resource q2">
			<div class="com-count-title">会员性别比例</div>
			<div class="com-screen-content">
			 <div id="main3" style="margin-top:10px;width:100%;height:240px;"></div>
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
    </div>

	<div class="mid">
		<div class="count-share w1" >
			<div class="com-count-title">总订单会员占比情况</div>
			<div class="com-screen-content">
                <div id="main4" style="width:100%;height:300px;"></div>

			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="count-share w2" >
			<div class="com-count-title">总消费会员占比情况</div>
			<div class="com-screen-content">
			 <div id="main5" style="width:100%;height:300px;"></div>
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
	</div>

	<div class="bottom">
		<div class="count-topic e1" >
			<div class="com-count-title">季度均值消费偏好</div>
			<div class="com-screen-content">
			<div id="main6" style="width:100%;height:300px;"></div>
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="count-topic e2" >
			<div class="com-count-title">天数均值消费偏好</div>
			<div class="com-screen-content">
			 <div id="main7" style="width:100%;height:300px;"></div>
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript">
//根据不同的分辨率调用不同的css和js
	if(window.screen.width>=1600){
		document.write("<link href='../../../static/04style/css/test-1920.css' rel='stylesheet' type='text/css'>");

		document.writeln("<script type=\"text/javascript\" src=\"../../../static/04style/js/test-1920.js\"><\/script>");
	}
	else if(window.screen.width<1600&&window.screen.width>=1280){
		document.write("<link href='../../../static/04style/css/test-1280.css' rel='stylesheet' type='text/css'>");

		document.writeln("<script type=\"text/javascript\" src=\"../../../static/04style/js/test-1280.js\"><\/script>");
	}else{
	document.write("<link href='../../../static/04style/css/test-1024.css' rel='stylesheet' type='text/css'>");

		document.writeln("<script type=\"text/javascript\" src=\"../../../static/04style/js/test-1024.js\"><\/script>");
	}
</script>
<!--大屏-->
<script type="text/javascript">
	  function autoScroll(obj){
			$(obj).find("ul").animate({
				marginTop : "-39px"
			},500,function(){
				$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
			})
		}
		$(function(){
			setInterval('autoScroll(".maquee")',2000);
		})
</script>

{#main1#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main1'), 'dark');

      // 指定图表的配置项和数据
      var option = {
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			{#color:['#8fc31f','#f35833','#00ccff','#ffcc00','#f5e965','#a74faf','#ff9668'],#}
			color:['#f5e965','#f35833','#00ccff'],

			series : [
				{
					name: '会员年龄段',
					type: 'pie',
					radius: ['20%', '60%'],
					center: ['50%', '50%'],
					data:[
					 	{% for i in range(3) %}
                      		{ value:{{age_group_values[i]}},name:'{{age_group_index[i]}}' },
                  	 	{% endfor %}
					],

					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
					itemStyle: {
						normal: {
							label:{
								show: true,
	//	                            position:'inside',
								formatter: '{b} : {c} ({d}%)' ,
								fontSize : 10,    //文字的字体大小
							}
						},
						labelLine :{show:true}
					}
				}
			]
		};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
{#main2#}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main2'), 'dark');
	var XData={{ age_sort_index }};
	var yData={{ age_sort_values }};
	option = {
		backgroundColor:"",
		xAxis: {
			axisTick: {
				show: false
			},
			splitLine: {
				show: false
			},
			splitArea: {
				show: false
			},
			data: XData,
			axisLabel: {
				formatter: function(value) {
					var ret = ""; //拼接加\n返回的类目项
					var maxLength = 4; //每项显示文字个数
					var valLength = value.length; //X轴类目项的文字个数
					var rowN = Math.ceil(valLength / maxLength); //类目项需要换行的行数
					if (rowN > 1) //如果类目项的文字大于3,
					{
						for (var i = 0; i < rowN; i++) {
							var temp = ""; //每次截取的字符串
							var start = i * maxLength; //开始截取的位置
							var end = start + maxLength; //结束截取的位置
							//这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
							temp = value.substring(start, end) + "\n";
							ret += temp; //凭借最终的字符串
						}
						return ret;
					} else {
						return value;
					}
				},
				interval: 0,
				fontSize: 10,
				fontWeight: 100,
				textStyle: {
					color: '#9faeb5',

				}
			},
			axisLine: {
				lineStyle: {
					color: '#4d4d4d'
				}
			}
		},
		yAxis: {
			axisTick: {
				show: false
			},
			splitLine: {
				show: false
			},
			splitArea: {
				show: false
			},

			axisLabel: {
				textStyle: {
					color: '#9faeb5',
					fontSize: 10,
				}
			},
			axisLine: {
				lineStyle: {
					color: '#4d4d4d'
				}
			}
		},
		tooltip: {
			trigger: "axis",
			transitionDuration: 0,
			backgroundColor: 'rgba(83,93,105,0.8)',
			borderColor: '#535b69',
			borderRadius: 8,
			borderWidth: 2,
			padding: [5, 10],
			formatter: function (params, ticket, callback) {
				var res = '';
				for (var i = 0, l = params.length; i < l; i++) {
					res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
				}
				return res;
			},
			axisPointer: {
				type: 'line',
				lineStyle: {
					type: 'dashed',
					color: '#ffff00'
				}
			}
		},
		series: [{
			name:'人数',
			type:"bar",
			itemStyle: {
				normal: {
					color: {
						type: 'linear',
						x: 0,
						y: 0,
						x2: 0,
						y2: 1,
						colorStops: [{
							offset: 0,
							color: '#00d386' // 0% 处的颜色
						}, {
							offset: 1,
							color: '#0076fc' // 100% 处的颜色
						}],
						globalCoord: false // 缺省为 false
					},
					barBorderRadius: 15,
				}
			},
			 label: {
					normal: {
						show: true,
						position: "top",
						textStyle: {
							color: "#ffc72b",
							fontSize: 10
						}
					}
				},
			data: yData,
			barWidth: 16,
		},{
			name:'折线',
			type:'line',
			itemStyle : {  /*设置折线颜色*/
				normal : {
				   /* color:'#c4cddc'*/
				}
			},
			data:yData
		}]
	};
	myChart.setOption(option);
</script>
{#main3#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main3'), 'dark');

      // 指定图表的配置项和数据
      var option = {
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			{#color:['#8fc31f','#f35833','#00ccff','#ffcc00','#f5e965','#a74faf','#ff9668'],#}
			color:['#a74faf','#ff9668'],

			series : [
				{
					name: '会员性别',
					type: 'pie',
					radius: ['20%', '60%'],
					center: ['50%', '50%'],
					data:[
					 	{% for i in range(2) %}
                      		{ value:{{sex_sort_values[i]}},name:'{{sex_sort_index[i]}}' },
                  	 	{% endfor %}
					],

					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
					itemStyle: {
						normal: {
							label:{
								show: true,
	//	                            position:'inside',
								formatter: '{b} : {c} ({d}%)' ,
								fontSize : 10,    //文字的字体大小
							}
						},
						labelLine :{show:true}
					}
				}
			]
		};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
{#main4#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main4'), 'dark');

      // 指定图表的配置项和数据
      var option = {
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			{#color:['#8fc31f','#f35833','#00ccff','#ffcc00','#f5e965','#a74faf','#ff9668'],#}
			color:['#9F79EE','#FFE7BA'],

			series : [
				{
					name: '是否会员',
					type: 'pie',
					radius: ['20%', '60%'],
					center: ['50%', '50%'],
					data:[
					 	{% for i in range(2) %}
                      		{ value:{{orderIsVip[i]}},name:'{{isVipLabels[i]}}' },
                  	 	{% endfor %}
					],

					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
					itemStyle: {
						normal: {
							label:{
								show: true,
	//	                            position:'inside',
								formatter: '{b} : {c} ({d}%)' ,
								fontSize : 12,    //文字的字体大小
							}
						},
						labelLine :{show:true}
					}
				}
			]
		};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
{#main5#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main5'), 'dark');

      // 指定图表的配置项和数据
      var option = {
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			{#color:['#8fc31f','#f35833','#00ccff','#ffcc00','#f5e965','#a74faf','#ff9668'],#}
			color:['#f5e965','#ffa572'],

			series : [
				{
					name: '是否会员',
					type: 'pie',
					radius: ['20%', '60%'],
					center: ['50%', '50%'],
					data:[
					 	{% for i in range(2) %}
                      		{ value:{{saleIsVip[i]}},name:'{{isVipLabels[i]}}' },
                  	 	{% endfor %}
					],

					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					},
					itemStyle: {
						normal: {
							label:{
								show: true,
	//	                            position:'inside',
								formatter: '{b} : {c} ({d}%)' ,
								fontSize : 8,    //文字的字体大小
							}
						},
						labelLine :{show:true}
					}
				}
			]
		};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
</script>
{#main6#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main6'), 'dark');
      var order = {{ quarters_order }};
      var timelist = {{ quarters_list }};
      {#console.log(order);#}
      {#console.log(timelist);#}
      // 指定图表的配置项和数据
      var option = {
		tooltip: {
			trigger: 'axis',
			formatter: function (params, ticket, callback) {
				var res = '';
				for (var i = 0, l = params.length; i < l; i++) {
					res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
				}
				return res;
			},
			transitionDuration: 0,
			backgroundColor: 'rgba(83,93,105,0.8)',
			borderColor: '#535b69',
			borderRadius: 8,
			borderWidth: 2,
			padding: [5, 10],
			axisPointer: {
				type: 'line',
				lineStyle: {
					type: 'dashed',
					color: '#ffff00'
				}
			}
		},
		legend: {
			icon: 'circle',
			itemWidth: 8,
			itemHeight: 8,
			itemGap: 10,
			top: '16',
			right: '10',
			data: ['季度'],
			textStyle: {
				fontSize: 10,
				color: '#a0a8b9'
			}
		},
		grid: {
			top:'46',
			left: '13%',
			right: '10',
			//bottom: '10%',
			containLabel: false
		},
		xAxis: [{
			type: 'category',
			boundaryGap: false,
			axisLabel: {
				interval: 0,
				fontSize:10
			},
			axisLine: {
				show: false,
				lineStyle: {
					color: '#a0a8b9'
				}
			},
			axisTick: {
				show: false
			},
			data: timelist,
			offset: 10
		}],
		yAxis: [{
			type: 'value',
            max: 20000,
            min: 14000,
            minInterval: 500,
            interval:500,
			axisLine: {
				show: false,
				lineStyle: {
					color: '#a0a8b9'
				}
			},
			axisLabel: {
				margin: 10,
				textStyle: {
					fontSize: 10
				}
			},
			splitLine: {
				lineStyle: {
					color: '#2b3646'
				}
			},
			axisTick: {
				show: false
			},
		}],
		series: [{
			name: '季度均值消费偏好',
			type: 'line',
			smooth: false,
			showSymbol: true,
            markPoint: {
                data: [
                    {type: 'max', name: 'Max'},
                    {type: 'min', name: 'Min'}
                ]
            },
			lineStyle: {
				normal: {
					width: 2
				}
			},
			areaStyle: {
				normal: {
					color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
						offset: 0,
						color: 'rgba(137, 189, 27, 0.3)'
					}, {
						offset: 0.8,
						color: 'rgba(137, 189, 27, 0)'
					}], false),
					shadowColor: 'rgba(0, 0, 0, 0.1)',
					shadowBlur: 10
				}
			},
			itemStyle: {
				normal: {
					color: '#1cc840'
				}
			},
			data: order
		 },
		]
	};
	myChart.setOption(option);
</script>
{#main7#}
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main7'), 'dark');
      var order = {{ days_order }};
      var timelist = {{ days_list }};
      {#console.log(order);#}
      {#console.log(timelist);#}
      // 指定图表的配置项和数据
      var option = {
		tooltip: {
			trigger: 'axis',
			formatter: function (params, ticket, callback) {
				var res = '';
				for (var i = 0, l = params.length; i < l; i++) {
					res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
				}
				return res;
			},
			transitionDuration: 0,
			backgroundColor: 'rgba(83,93,105,0.8)',
			borderColor: '#535b69',
			borderRadius: 8,
			borderWidth: 2,
			padding: [5, 10],
			axisPointer: {
				type: 'line',
				lineStyle: {
					type: 'dashed',
					color: '#ffff00'
				}
			}
		},
		legend: {
			icon: 'circle',
			itemWidth: 8,
			itemHeight: 8,
			itemGap: 10,
			top: '16',
			right: '10',
			data: ['季度'],
			textStyle: {
				fontSize: 10,
				color: '#a0a8b9'
			}
		},
		grid: {
			top:'46',
			left: '13%',
			right: '10',
			//bottom: '10%',
			containLabel: false
		},
		xAxis: [{
			type: 'category',
			boundaryGap: false,
			axisLabel: {
				interval: 0,
				fontSize:10
			},
			axisLine: {
				show: false,
				lineStyle: {
					color: '#a0a8b9'
				}
			},
			axisTick: {
				show: false
			},
			data: timelist,
			offset: 10
		}],
		yAxis: [{
			type: 'value',
            max: 350,
            min: 125,
            minInterval: 25,
            interval:25,
			axisLine: {
				show: false,
				lineStyle: {
					color: '#a0a8b9'
				}
			},
			axisLabel: {
				margin: 10,
				textStyle: {
					fontSize: 10
				}
			},
			splitLine: {
				lineStyle: {
					color: '#2b3646'
				}
			},
			axisTick: {
				show: false
			},
		}],
		series: [{
			name: '季度均值消费偏好',
			type: 'line',
			smooth: false,
			showSymbol: true,
            markPoint: {
                data: [
                    {type: 'max', name: 'Max'},
                    {type: 'min', name: 'Min'}
                ]
            },
			lineStyle: {
				normal: {
					width: 2
				}
			},
			areaStyle: {
				normal: {
					color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
						offset: 0,
						color: 'rgba(137, 189, 27, 0.3)'
					}, {
						offset: 0.8,
						color: 'rgba(137, 189, 27, 0)'
					}], false),
					shadowColor: 'rgba(0, 0, 0, 0.1)',
					shadowBlur: 10
				}
			},
			itemStyle: {
				normal: {
					color: '#0066cc'
				}
			},
			data: order
		 },
		]
	};
	myChart.setOption(option);
</script>

</body>
</html>